<div id="header">
  <!-- <ion-input placeholder="Cari Route, Nama bus"></ion-input>  -->
    <ion-grid>
      <ion-row>
      </ion-row>
    </ion-grid>
    
    <div id="header-title">
      <ion-icon name="home-outline" (click)="goHomePage()"></ion-icon>
      <span id="span-header-title">Public Bus ETA</span>
    </div>
</div>

<ion-content>
  <div id="container">

    <div class="div-input">
      <ion-input class="ion-input" placeholder="Find a Bus"></ion-input>
    </div>
  </div>
</ion-content>
