<div id="header">
  <ion-grid>
    <ion-row></ion-row>
  </ion-grid>
  <div id="header-title">
    <ion-icon name="home-outline" (click)="goHomePage()"></ion-icon>
    <span id="span-header-title">Public Bus ETA</span>
  </div>
</div>

<ion-content>
<div id="map"></div>
<div id="container">

  <ion-card>
    <ion-card-header class="terminal-header">
      <ion-card-title id="card-terminal-name">{{terminalDest.terminal_name}}</ion-card-title>
      <ion-card-subtitle>Batam Center</ion-card-subtitle>
    </ion-card-header> 
  
    <div class="div-card-content">
      <ion-item lines="none">
        <ion-label class="bus-title">Transbus 31</ion-label>
        <ion-icon name="time-outline" slot="end" class="bus-time"></ion-icon>
        <p class="bus-time" slot="end" id="card-time">{{etaTime}}</p>
      </ion-item>
    </div>
    
  </ion-card>
</div>
</ion-content>
